<!DOCTYPE html>
<html>
  <head>
    <title>Install my app in Shopify</title>
  </head>
  <body>
    <h1>Install my app in Shopify</h1>
    <form action="/install" method="POST" target="_blank">
      <label for="store-name">Store name:</label>
      <input type="text" id="store-name" name="shop">
      <button type="submit">Install</button>
    </form>
  </body>
</html>